#navbar{
    width: 100%;
    height: 50px;
}
#maindashboard{
display: flex;
justify-content: space-between;
}

#sidebar{
    width: 290px;
    height: 90vh;
}
#routerlink{
    width: 990px;
    height: 90vh;
    padding-top: 120px;
    background-color: rgb(211, 211, 211);
    display: flex;
    justify-content: center;

}


/* styles.css or app.component.css */

/* Light mode styles */
body.light-mode {
    background-color: white;
    color: black;
  }
  
  /* Dark mode styles */
  body.dark-mode {
    background-color: black;
    color: white;
  }
  
  /* Optional: Add styles for your buttons */
  button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  