<div class="holder">
    <div class="wrapper">
      <div class="left" *ngIf="productDetails; else noData">
        <div class="product_img">
          <img [src]="'data:image/png;base64,' + productDetails.image" alt="" style="width: 100%; height: 100%">
        </div>
        <div class="details" *ngIf="productDetails; else noData">
          <div class="another_datail">
            <h3 id="h3">General Specs about service</h3>
            <div class="one">
              <h6>Title: <span>{{ productDetails.name }}</span></h6>
              <h6>Category: <span>{{ productDetails.category }}</span></h6>
            </div>
            <div class="one">
              <h6>Start price: <span>{{ productDetails.price }} <b>$</b></span></h6>
              <h6>Status: <span>{{ productDetails.productStatus }}</span></h6>
            </div>
            <div class="margin"></div>
          </div>
          <div class="description">
            <h3>Detailed Description</h3>
            <p>{{ productDetails.description }}</p>
          </div>
        </div>
        <button class="btn-order" (click)="productOrderId(productDetails.productId)">Make Order</button>
      </div>
  
      <div class="right">
        <h3>Recommended Products</h3>
        <div *ngIf="recommendedProducts && recommendedProducts.length > 0; else noRecommendations">
          <div *ngFor="let product of recommendedProducts" class="recommended-product">
            <img [src]="'data:image/png;base64,' + product.image" alt="" style="width: 100%; height: auto;">
            <h4>{{ product.name }}</h4>
            <p>Price: {{ product.price }} $</p>
            <button (click)="showDetails(product.productId)">View Details</button>
          </div>
        </div>
        <ng-template #noRecommendations>
          <p>No recommendations available.</p>
        </ng-template>
      </div>
    </div>
  </div>
  
  <ng-template #noData>
    <p>No enterprise data available.</p>
  </ng-template>
  