<div class="article-container">
  <h2>Article Details</h2>
  <form [formGroup]="formArticle" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <!-- Left side -->
      <div class="form-left">
        <div class="form-group">
          <label for="articleTitle">Article Title: <span class="badge-required">Required</span></label>
          <input type="text" id="articleTitle" formControlName="articleTitle" placeholder="Enter Article Title" />
        </div>

        <div class="form-group">
          <label for="articleAuthor">Article Author: <span class="badge-required">Required</span></label>
          <input type="text" id="articleAuthor" formControlName="articleAuthor" placeholder="Enter Article Author" />
        </div>

        <div class="form-group">
          <label for="articleType">Article Type: <span class="badge-required">Required</span></label>
          <input type="text" id="articleType" formControlName="articleType" placeholder="Enter Article Type" />
        </div>
      </div>

      <!-- Right side -->
      <div class="form-right">
        <div class="form-group">
          <label for="articleContent">Article Content: <span class="badge-required">Required</span></label>
          <textarea id="articleContent" formControlName="articleContent" placeholder="Enter Article Content"></textarea>
        </div>

        <div class="form-group">
          <label for="articleImage">Image <span class="badge-required">Required</span></label>
          <input type="file" id="articleImage" (change)="onFileChange($event)" formControlName="articleImage" required />
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formArticle.invalid">Submit Article</button>
  </form>
</div>
