<div class="container_inf">
    <div class="wrapper">
        <div class="left">
            <div class="titles">
                <div class="icon"></div>
                <h6>Call To Us</h6>
            </div>
            <p>We are available 24/7, 7 days a week.</p>
            <p>Phone: +212 61 23 62 23</p>
            <div id="line"></div>
            <div class="titles">
                <div class="icon"></div>
                <h6>Write To Us</h6>
            </div>
            <p>Fill out our form and we will contact you within 24 hours.</p>
            <p>Emails: customer@exclusive.com</p>
            <p>Emails: support@exclusive.com</p>
        </div>

        <div class="right">
            <form [formGroup]="formContact" (ngSubmit)="onSubmit()">
                <div class="info">
                    <input type="text" formControlName="name" placeholder="Name" required>
                    <input type="email" formControlName="email" placeholder="Email" required>
                    <input type="tel" formControlName="phone" placeholder="Phone" required>
                </div>
                <textarea formControlName="message" placeholder="Your Message" required></textarea>
                <button id="btn" [disabled]="formContact.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
