<div class="container_inf">
    <div class="wrapper">
        <div class="left">
            <div class="titles">
                <div class="icon"></div>
                <h6>Call To Us</h6>
            </div>
            <p>We are available 24/7, 7 days a week.</p>
            <p>Phone: +212 61 23 62 23</p>
            <div id="line"></div>
            <div class="titles">
                <div class="icon"></div>
                <h6>Write To Us</h6>
            </div>
            <p>Fill out our form and we will contact you within 24 hours.</p>
            <p>Emails: customer@exclusive.com</p>
            <p>Emails: support@exclusive.com</p>
        </div>

        <div class="right">
            <form [formGroup]="formContact" (ngSubmit)="onSubmit()">
                <div class="info">
                    <div class="form-group">
                        <input type="text" formControlName="name" placeholder="Name" required />
                        <div *ngIf="formContact.get('name')?.invalid && (formContact.get('name')?.touched || formContact.get('name')?.dirty)" class="error-message">
                            <small *ngIf="formContact.get('name')?.errors?.['required']">Name is required.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" formControlName="email" placeholder="Email" required />
                        <div *ngIf="formContact.get('email')?.invalid && (formContact.get('email')?.touched || formContact.get('email')?.dirty)" class="error-message">
                            <small *ngIf="formContact.get('email')?.errors?.['required']">Email is required.</small>
                            <small *ngIf="formContact.get('email')?.errors?.['email']">Invalid email format.</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="tel" formControlName="phone" placeholder="Phone" required />
                        <div *ngIf="formContact.get('phone')?.invalid && (formContact.get('phone')?.touched || formContact.get('phone')?.dirty)" class="error-message">
                            <small *ngIf="formContact.get('phone')?.errors?.['required']">Phone number is required.</small>
                        </div>
                    </div>
                </div>
                <textarea formControlName="message" placeholder="Your Message" required></textarea>
                <div *ngIf="formContact.get('message')?.invalid && (formContact.get('message')?.touched || formContact.get('message')?.dirty)" class="error-message">
                    <small *ngIf="formContact.get('message')?.errors?.['required']">Message is required.</small>
                </div>
                <button id="btn" [disabled]="formContact.invalid">Submit</button>
            </form>
        </div>
    </div>
</div>
