.wrapper{
    background-color: #F9F9FB;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: red;
    height: 400px;
    width: 800px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  border: 1px solid black;
}
.right_img{
    background-color: gold;
    height: 100%;
    width: 40%;
    /* background-image: url("src\assets\one.png");
    background-repeat: no-repeat;
    background-size: cover; */
}
.left_signup{
    background-color: #FAFAFA;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    height: 100%;  
}
.form-group{
    display: flex;
    flex-direction: column;
}

input{
    width: 350px;
    height: 30px;
    border: none;
    border: 1px solid black;
    border-radius: 7px;
    padding-left:  12px;
    background-color: rgb(255, 255, 255);
}
select{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 30px;
    border-radius: 7px;
    padding:0px 45px;
    color: blue;

}
.btn{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 34px;
    border-radius: 34px;
    border: 1px solid black;
    cursor: pointer;

}
a{
    color: blue;
    cursor: pointer;
}

/* .btn :hover{
   
    background-color: #ffffff;
    
    } */