<div class="main">

    
    <div class="container">
        <div class="left">
        <h1>Business Advisory <br> Services </h1>
        <p>Disaster recovery planning, business continuity <br>
            management, and disaster recovery.</p>
            <button class="btn">Learn More</button>
            
    </div>
    <div class="right">

    </div>
    </div>


</div>
<div class="part1">
    <div class="part_left">
        <p>organizations to enhance their digital presence,<br>
             engage with their target audiences, and achieve their marketing goals.</p>
    </div>
    <div class="part_right"></div>

</div>
<div class="part1" id="part2">
    <div class="part_left" >
        <p>organizations to enhance their digital presence,<br>
             engage with their target audiences, and achieve their marketing goals.</p>
    </div>
    <div class="part_right" id="part_right1"></div>

</div>

<div class="part1">
    <div class="part_left" >
        <p>organizations to enhance their digital presence,<br>
             engage with their target audiences, and achieve their marketing goals.</p>
    </div>
    <div class="part_right" id="part_right3"></div>

</div>


<div class="service">
    <div class="service1">
        <div id="s1"></div>
        <p>Global Service Network</p>
    </div>
    <div class="service1">
        <div id="s2"></div>
        <p>Quality</p>
    </div>
    <div class="service1">
        <div id="s3"></div>
        <p>guarantee</p>
    </div>

</div>