.main{
    width: 100%;
    height: 100vh;
    background-color: red;
    background-image: url("src\assets\main.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    margin: 7px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    width: 50%;
    height: 44vh;
    display: flex;
  flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.left>h1{
    margin-right: 121px;
    font-size: 37px;
}
.left>p{
    margin-right: 65px;
}
.btn{
    width: 102px;
    height: 34px;
    background-color: rgb(55, 55, 245);
    margin-right: 250px;
    font-size: 12px;
    color: white;
    border-radius: 12px;
    border: none;

}
.right{
    width: 50%;
    height: 100%;
    background-image: url("src\assets\right.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.part1{
    width: 100%;
    height: 360px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 3px black;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
}
.part_left{
    width: 50%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part_left>p{
   font-size: 26px;
   line-height: 1.6;
   text-align: center;
}
.part_right{
    width: 50%;
    height: 360px;
    background-image: url("src\assets\part_1.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}
#part2{
    flex-direction: row-reverse;
}
#part_right1{

    background-image: url("src\assets\part_2.png");
}


#part_right3{

    background-image: url("src\assets\part_3.png");
}

.service{
    width: 100%;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.service1{
    width: 121px;
    height: 121px;
    margin: 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#network{
    margin-top: 5px;
    width: 121px;
    height: 115px;
    background-image: url("src\assets\network.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}
#quality{
    margin-top: 5px;
    width: 121px;
    height: 115px;
    background-image: url("src\assets\quality.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
#guarantee{
    margin-top: 5px;
    width: 121px;
    height: 115px;
    background-image: url("src\assets\guarantee.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;

}
.article{
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    


}
h1{
    align-self: center;
}
.card>h4{
color: #000000;
}
span{
    margin-top: 9px;
color: rgb(0, 0, 0);
}
.card{
    margin: 9px 12px;
    width: 250px;
    height: 350px;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    /* opacity: 0.3; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.btn_article{
width: 87px;
height: 28px;
color: rgb(0, 0, 0);
margin-bottom: 9px;
background-color: #23A6F0;
border: none;
cursor: pointer;
}
.img{
    width: 250px;
    height: 250px;
    background-color: bisque;
}