.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-card {
  width: 300px;
  margin: 15px;
}

mat-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

mat-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
