<div class="product-container">
    <div *ngFor="let product of listProduct" class="product-card">
        <div class="product-details">
            <h3 class="product-id">Product ID: {{product.productId}}</h3>
            <h3 class="product-name">Name: {{product.name}}</h3>
            <p class="product-description">Description: {{product.description}}</p>
            <p class="product-price">Price: ${{product.price}}</p>
            <p class="product-category">Category: {{product.category}}</p>
            <p class="product-status">Status: {{product.productStatus}}</p>
        </div>
        <div class="product-image-container">
            <img [src]="'data:image/png;base64,'+product.image" alt="{{product.name}} image" class="product-image">
        </div>
        <div class="button-g">
            <button class="btn btn-outline-primary">Update</button>
            <button class="btn btn-outline-danger" (click)="delete(product.productId)">Delete</button>
        </div>
    </div>
</div>
