<div class="main">
    <div id="logo">
        <h3>ProServise</h3>
    </div>
    <div id="search">
        <div id="search_input_btn">
            <input type="search" class="search_input" placeholder="search">
            <button class="search_btn"><i class="fas fa-search fa-lg"></i></button>
        </div>
    </div>
    <div id="right">
        <div id="notification" class="i"><i class="fa-solid fa-bell fa-beat fa-lg"></i></div>
        <div id="mode" class="i">
            <i class="fas fa-moon fa-lg"></i>
        </div>
        <div id="profile">
            <div class="i">
                <i class="fas fa-user fa-lg"></i>
            </div>
            <div id="welc">Welcome {{name}}</div>
        </div>
    </div>
</div>
