<div class="article-detail">
    <div class="content" *ngIf="article; else noData">
        <div class="product_img">
            <img [src]="'data:image/png;base64,' + article.articleImage" alt="">
        </div>
        <h1>{{ article.articleTitle }}</h1>
        <p>{{ article.articleContent }}</p>
        <h3>Author: {{ article.articleAuthor }}</h3>
        <h3>Date: {{ article.articleDate }}</h3>
        <h3>Type: {{ article.articleType }}</h3>
        <div class="footer">Thank you for reading!</div>
    </div>

    <ng-template #noData>
        <p>No article data available.</p>
    </ng-template> 
</div>

