/* .navbar{
    padding: 0;
}
.container-fluid{
    background-color: rgb(66, 185, 111);
    width: 98%;
}
.logo{
    width: 59px;
    height:59px;
    background-image: url("src\assets\luxury_service.png");
    background-size: contain;
    background-repeat: no-repeat;
} */
 /* Navbar custom styling */
.navbar {
    padding: 3px 20px;
    background-color: rgb(29, 133, 219); /* Background color for navbar */
}

.navbar-brand .logo {
    width: 30px;
    height: 40px;
    background-image: url("src/assets/luxury_service.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Navbar Links */
.navbar-nav .nav-link {
    margin-left: 15px;
    /* border-radius: 12px; */
    /* border-bottom: 2px solid rgb(255, 255, 255); */
    font-size: 16px;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffffff; /* Change to gold on hover */
}

/* Navbar Links - Active */
.navbar-nav .nav-link.active {
    color: #ffffff; /* Gold color for active link */
    text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

/* Button (Toggler) */
.navbar-toggler {
    border: none;
}

/* Responsive Layout */
@media (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-brand {
        margin-bottom: 10px;
    }
}
