<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <!-- Logo -->
        <a routerLink="home" class="navbar-brand">
            <div class="logo"></div>
        </a>

        <!-- Toggler for Mobile View -->
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a routerLink="home" class="nav-item nav-link active">
                    <i class="fas fa-home"></i> Home
                </a>
                <a routerLink="shop" class="nav-item nav-link">
                    <i class="fas fa-store"></i> Shop
                </a>
                <a routerLink="services" class="nav-item nav-link">
                    <i class="fas fa-concierge-bell"></i> Services
                </a>
                <a routerLink="contact_us" class="nav-item nav-link">
                    <i class="fas fa-envelope-open-text"></i> Contact
                </a>
            </div>

            <!-- Right-aligned (Login/Logout/Order/Profile) -->
            <div class="navbar-nav ms-auto">
                <a *ngIf="!isLoggedIn" routerLink="signin" class="nav-item nav-link">
                    <i class="fas fa-user"></i> Login
                </a>
                <a *ngIf="isLoggedIn" routerLink="profile" class="nav-item nav-link">
                    <i class="fas fa-user-circle"></i> Profile
                </a>
                <a *ngIf="isLoggedIn" routerLink="orders" class="nav-item nav-link">
                    <i class="fas fa-box"></i> Orders
                </a>
                <a *ngIf="isLoggedIn" class="nav-item nav-link" (click)="onLogout()">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
            </div>
        </div>
    </div>
</nav>
