<div *ngIf="ratings.length > 0; else noRatings">
    <h2>Ratings for Product ID: {{ productId }}</h2>
    <ul>
      <li *ngFor="let rating of ratings">
        <strong>Rating ID:</strong> {{ rating.ratingId }}<br />
        <strong>Stars:</strong> {{ rating.stars }}<br />
        <strong>Comment:</strong> {{ rating.comment }}<br />
        <strong>Product:</strong> {{ rating.product.name }}<br /> <!-- Assuming Product has a 'name' property -->
        <hr />
      </li>
    </ul>
  </div>
  
  <ng-template #noRatings>
    <p>No ratings available for this product.</p>
  </ng-template>
  
  