/* Styles du bouton de téléchargement */
.download-button {
    background-color: #007BFF; /* Couleur de fond bleue */
    color: #FFFFFF; /* Couleur du texte blanche */
    border: none; /* Supprime la bordure par défaut */
    border-radius: 5px; /* Coins arrondis */
    padding: 12px 20px; /* Espacement interne pour le texte */
    font-size: 16px; /* Taille de la police */
    font-weight: bold; /* Texte en gras */
    cursor: pointer; /* Curseur pointer au survol */
    transition: background-color 0.3s, transform 0.2s; /* Transitions douces pour le changement de couleur et d'échelle */
    margin-top: 10px; /* Marge au-dessus du bouton */
    margin-bottom: 20px; /* Marge au-dessus du bouton */
}

.download-button:hover {
    background-color: #0056b3; /* Couleur de fond plus foncée au survol */
    transform: translateY(-2px); /* Effet de léger soulèvement au survol */
}

.download-button:focus {
    outline: none; /* Supprime le contour par défaut au focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Ombre légère autour du bouton au focus */
}

.download-button:disabled {
    background-color: #6c757d; /* Couleur de fond pour un bouton désactivé */
    cursor: not-allowed; /* Curseur non autorisé pour le bouton désactivé */
    opacity: 0.6; /* Légère transparence pour indiquer l'état désactivé */
}
