<div class="wrapper">
  <div class="main">
    <div class="right_img">
      <!-- Optional: You can add an image or background here -->
    </div>
    <div class="left_signup">  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input class="input form-control" type="text" formControlName="username" placeholder="Enter your username" required />
          <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.touched || loginForm.get('username')?.dirty)" class="error-message">
            <small *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input class="input form-control" type="password" formControlName="password" placeholder="Enter your password" required />
          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" class="error-message">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
          </div>
        </div>
        
        <button type="submit" class="btn" [disabled]="loginForm.invalid">Login</button>
      </form>

      <h6>By continuing, you agree to the <i>Terms of Use</i> and <i>Privacy Policy.</i></h6>
      <button class="create_account" routerLink="/main/signup">
        Create an account
      </button>
    </div>
  </div>
</div>
