.wrapper{
    background-color: #F9F9FB;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    background-color: red;
    height: 400px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    border: 1px solid gold;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.left_signup{
    background-color: #FAFAFA;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;
    /* background-color: red; */

    
}
.form-group{
    display: flex;
    flex-direction: column;
}
.right_img{
    background-color: #00008B;
    height: 100%;
    width: 40%;
    background-image: url("src\assets\sign.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-origin: border-box;
}

input{
    width: 350px;
    height: 30px;
    border: none;
    border: 1px solid black;
    border-radius: 7px;
    padding-left:  12px;
    background-color: rgb(255, 255, 255);
}

.btn{
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 34px;
    border-radius: 34px;
    border: 1px solid black;
    cursor: pointer;

}

.create_account{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 34px;
    border-radius: 34px;
    border: 1px solid black;
    cursor: pointer;

}
.error-message {
    color: red; /* Error text color */
    font-size: 12px; /* Font size for error messages */
}