<footer class=" py-4">
    <div class="container_main">
        <div class="row">
            <div class="col-md-4 mb-4 part_1">
               
            </div>
            <div class="col-md-4 mb-4 part">
                <h1>Useful Links</h1>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-primary">About Us</a></li>
                    <li><a href="#" class="text-primary">Contact Us</a></li>
                    <li><a href="#" class="text-primary">Our Services</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4 part">
                <h1>Join Our Newsletter</h1>
                <p>Get email updates about our latest shop offers.</p>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Subscribe to receive newsletter" required>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </div>
            </div>
         
        </div>

        <div class="social_media text-center mb-4">
            <a href="#" class="icon i1 mx-2" aria-label="LinkedIn"></a>
            <a href="#" class="icon i2 mx-2" aria-label="Facebook"></a>
            <a href="#" class="icon i3 mx-2" aria-label="Twitter"></a>
            <a href="#" class="icon i4 mx-2" aria-label="Instagram"></a>
        </div>
        
        <div class="text-center">
            <p>&copy; 2024 All rights reserved</p>
        </div>
    </div>
</footer>
