<div class="container-fluid"> <output >
    <footer class="section-footer border-top">
            <section class="footer-top padding-y">
                <div class="row">
                    <aside class="col-md-4">
                        <article class="mr-3"> <img  class="logo-footer">
                            <p class="mt-3 description">Luxury service providing tailored, professional services from enterprise to customer. We focus on delivering exceptional solutions, personalized support, and reliable service, ensuring your satisfaction every step of the way.</p>
                            <div> <a class="btn btn-icon btn-light" title="Facebook" target="_blank" href="#" data-abc="true"><i class="fab fa-facebook-f"></i></a> <a class="btn btn-icon btn-light" title="Instagram" target="_blank" href="#" data-abc="true"><i class="fab fa-instagram"></i></a> <a class="btn btn-icon btn-light" title="Youtube" target="_blank" href="#" data-abc="true"><i class="fab fa-youtube"></i></a> <a class="btn btn-icon btn-light" title="Twitter" target="_blank" href="#" data-abc="true"><i class="fab fa-twitter"></i></a> </div>
                        </article>
                    </aside>
                    <aside class="col-sm-3 col-md-2">
                        <h6 class="title">About</h6>
                        <ul class="list-unstyled">
                            <li> <a routerLink="/main/contact_us" data-abc="true">About us</a></li>
                            <li> <a href="#" data-abc="true">Services</a></li>
                            <li> <a href="#" data-abc="true">Terms & Condition</a></li>
                            <li> <a href="#" data-abc="true">Our Blogs</a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-3 col-md-2">
                        <h6 class="title">For users</h6>
                        <ul class="list-unstyled">
                            <li> <a href="#" data-abc="true"> User Login </a></li>
                            <li> <a href="#" data-abc="true"> User register </a></li>
                            <li> <a href="#" data-abc="true"> Account Setting </a></li>
                            <li> <a href="#" data-abc="true"> My Orders </a></li>
                        </ul>
                    </aside>
                    <aside class="col-sm-2 col-md-2">
                        <h6 class="title">Our app</h6> <a href="#" class="d-block mb-2" data-abc="true"><img class="img-responsive" src="https://i.imgur.com/nkZP7fe.png" height="40"></a> <a href="#" class="d-block mb-2" data-abc="true"><img class="img-responsive" src="https://i.imgur.com/47q2YGt.png" height="40" width="123"></a>
                    </aside>
                </div>
            </section>
            <section class="footer-copyright border-top">
                <p class="float-left text-muted"> &copy; 2024 Luxury service All rights resetved </p>
                <p target="_blank" class="float-right text-muted"> <a href="#" data-abc="true">Privacy &amp; Cookies</a> &nbsp; &nbsp; <a href="#" data-abc="true">Accessibility</a> </p>
            </section>
       
    </footer>
</output> </div>
<!-- <footer class=" py-4">
    <div class="container_main">
        <div class="row">
            <div class="col-md-4 mb-4 part_1">
               
            </div>
            <div class="col-md-4 mb-4 part">
                <h1>Useful Links</h1>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-primary">About Us</a></li>
                    <li><a href="#" class="text-primary">Contact Us</a></li>
                    <li><a href="#" class="text-primary">Our Services</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4 part">
                <h1>Join Our Newsletter</h1>
                <p>Get email updates about our latest shop offers.</p>
                <div class="input-group">
                    <input type="email" class="form-control" placeholder="Subscribe to receive newsletter" required>
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </div>
            </div>
         
        </div>

        <div class="social_media text-center mb-4">
            <a href="#" class="icon i1 mx-2" aria-label="LinkedIn"></a>
            <a href="#" class="icon i2 mx-2" aria-label="Facebook"></a>
            <a href="#" class="icon i3 mx-2" aria-label="Twitter"></a>
            <a href="#" class="icon i4 mx-2" aria-label="Instagram"></a>
        </div>
        
        <div class="text-center">
            <p>&copy; 2024 All rights reserved</p>
        </div>
    </div>
</footer> -->
