<footer>
<div class="main_footer">
    <div class="part1">
        <h1>Contact us</h1>
        <p>Address  :<span> ighrem laalam dir el ksiba</span></p>
        <p>Phone  :<span> +212 6 79232699</span></p>
        <p>Email  :<span> pro.service@hotmail.com</span></p>

    </div>
    <div class="part2">
        <h1>Useful Links</h1>
        <h4>About us</h4>
        <h4>Contact us</h4>
        <h4>our service</h4>

    </div>
    <div class="part3">
        <h1>Join our newsletter Now</h1>
        <p>Get E-mail updates about our latest shop</p>
        <div class="subscribe" >
            <input type="email" placeholder="subscribe to recieve new letter">
            <button>Subscribe</button>

        </div>

    </div>

</div>

<div class="social_media">
    <div class="icon i1">
        <!-- <img src="src\assets\twitter.png" style="width: 50px; height: 50px;" alt=""> -->
    </div>
    <div class="icon i2"></div>
    <div class="icon i3"></div>
    <div class="icon i4"></div>
      
</div>
<div id="right">
    <p>this website have all righrt reserved</p>
</div>

</footer>