<div class="container">
    <div class="content" *ngIf="enterprise; else noData">
      <div class="article-image"> 
        <img [src]="enterprise.enterpriseLogo" alt="{{ enterprise.enterpriseName }} Logo" class="logo-image">
      </div>
      <h1>{{ enterprise.enterpriseName }}</h1>
      <h3>{{ enterprise.enterpriseDescription }}</h3>
      <h3>{{ enterprise.activity }}</h3>
      <h3>{{ enterprise.phoneNumber }}</h3>
      <h3>{{ enterprise.email }}</h3>

    </div>
    <ng-template #noData>
      <p>No enterprise data available.</p>
    </ng-template> 
  
    <div class="flap"></div>
  </div>
  