<div class="container">

    <form (ngSubmit)="applyFilter()">
        <div class="form-group">
            <label for="category">Category:</label>
            <select id="category" [(ngModel)]="filter.category" name="category" required>
                <option value="">Select a category</option>
                <option value="ELECTRONICS">ELECTRONICS</option>
                <option value="FASHION">FASHION</option>
                <option value="BEAUTY">BEAUTY</option>
                <option value="SPORTS">SPORTS</option>
                <option value="CONSTRUCTION">CONSTRUCTION</option>
                <option value="INDUSTRY">INDUSTRY</option>
            </select>
        </div>
        <div>
            <label for="minPrice">Min Price:</label>
            <input id="minPrice" type="number" [(ngModel)]="filter.minPrice" name="minPrice" />
        </div>
        
        <div>
            <label for="maxPrice">Max Price:</label>
            <input id="maxPrice" type="number" [(ngModel)]="filter.maxPrice" name="maxPrice" />
        </div>
        
        <div>
            <label for="name">Product Name:</label>
            <input id="name" type="text" [(ngModel)]="filter.name" name="name" />
        </div>
        
        <button type="submit">Search</button>
    </form>
      

    <!-- Products Section -->
    <div class="products">
        <div class="product" *ngFor="let product of listProduct">
            <div class="product_image">
                <img [src]="'data:image/png;base64,' + product.image" alt="{{product.name}}" style="width: 100%; height: auto;" />
            </div>
            <div class="product_details">
                <div class="product_detail">
                    <h3>{{product.name}}</h3>
                </div>
                <div class="status">
                    <h3>{{product.price}} <span>$</span></h3>
                    <h6>{{product.productStatus}}</h6>
                </div>
            </div>
            <button class="btn_view" (click)="showDetails(product.productId)">Show Details</button>
        </div>
    </div>

    <!-- Pagination Section -->
     <div class="pagination">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" [class.disabled]="currentPage === 0">
                <a class="page-link" (click)="onPageChange(currentPage - 1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index">
                <a class="page-link" (click)="onPageChange(i)" [class.active]="currentPage === i">
                    {{ i + 1 }}
                </a>
            </li>
            <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
                <a class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</div>
