<div class="container">
    <!-- search div -->
    <div class="search">
        <div class="child">
          <input class="input" type="text" placeholder="enter name">
          <input class="input" type="text" placeholder="enter the price">
          <input class="input" type="text" placeholder="search">

          <button id="btn">search</button>
        </div>
    </div>
    <!-- product div -->
    <div class="products">
        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>



        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>



        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>



        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>



        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>



        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        <div class="product">
            <div class="product_image">     
           </div>
            <div class="product_details">
                <h3>Product name</h3>
                <h3>199 <span>$</span></h3> 
            </div>
            <button class="btn">show details</button>
        </div>


        
    </div>

    
     
</div>