<div class="product_info_all">
  <div class="product_inf" *ngIf="numberOfProduct; else noData">
    <h4><i class="fas fa-box"></i> Total Products</h4>
    <p>{{ numberOfProduct }}</p>
  </div>
  <div class="product_inf">
    <h4><i class="fas fa-check-circle"></i> Active</h4>
    <p>{{ activeCount }}</p>
  </div>
  <div class="product_inf">
    <h4><i class="fas fa-clock"></i> in progress</h4>
    <p>{{ in_progressCount }}</p>
  </div>
  <div class="product_inf">
    <h4><i class="fas fa-times-circle"></i> unavailable</h4>
    <p>{{ unavailableCount }}</p>
  </div>
</div>

<div class="charts">
  <div class="chart-container">
    <h3><i class="fas fa-chart-bar"></i> Product Chart</h3>
    <canvas id="productChart" width="800" height="400"></canvas>
  </div>

  <div class="chart-container">
    <h3><i class="fas fa-chart-line"></i> Order Chart</h3>
    <canvas id="orderChart" width="800" height="400"></canvas>
  </div>
</div>


<ng-template #noData>
  <p class="no-data-message">No data available</p>
</ng-template>
