<div class="container">
    <form [formGroup]="enterpriseForm" (ngSubmit)="onSubmit()">
  
      <div class="form-group">
        <label for="enterpriseName">Enterprise Name:</label>
        <input id="enterpriseName" formControlName="enterpriseName" type="text" placeholder="Enter Enterprise Name" />
      </div>
  
      <div class="form-group">
        <label for="enterpriseDescription">Enterprise Description:</label>
        <textarea id="enterpriseDescription" formControlName="enterpriseDescription" placeholder="Enter Enterprise Description"></textarea>
      </div>
  
      <div class="form-group">
        <label for="enterpriseLogo">Enterprise Logo URL:</label>
        <input id="enterpriseLogo" formControlName="enterpriseLogo" type="text" placeholder="Enter Logo URL" />
      </div>
  
      <div class="form-group">
        <label for="activityName">Activity :</label>
        <input id="activityName" formControlName="activityName" type="text" placeholder="Enter Activity Name" />
      </div>
  
      <div class="form-group">
        <label for="activityDescription">Activity Description:</label>
        <textarea id="activityDescription" formControlName="activityDescription" placeholder="Enter Activity Description"></textarea>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="enterpriseForm.invalid">Save Enterprise</button>
    </form>
  </div>
  