.wrap_form{
    width: 800px;
    border: 1px solid black;
    padding: 7px 0;
    border-radius: 14px;
    background-color: #ffffff;
}
.form-field{
    width: 360px;
    margin: 0 20px;
}

.column{
    background-color: #ffffff;
    display: flex;
}
    