.container{
    background-color: red;
    width: 50%;
    height: 69vh;
    align-self: center;
}


.container>form>input{
    background-color: rgb(24, 24, 24);
    width: 500px;
    height: 31px;
}
.container>form{
    background-color: rgb(21, 255, 0);
    width: 500px;
    height: 40vh;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
}
.input{
    background-color: red;
}