<div class="side_bar">
    <div class="side_bar_top">
        <h2 class="sidebar_title">Menu</h2>
        <ul>
            <li routerLink="/admin/add_article">
                <i class="fas fa-plus-circle"></i> Add Article
            </li>
            <li routerLink="/admin/show_article">
                <i class="fas fa-eye"></i> Show Article
            </li>
            <li routerLink="/admin/all_contact">
                <i class="fas fa-address-book"></i> Show All Contact
            </li>
        </ul>
    </div>

    <div class="side_bar_bottom">
        <app-logout></app-logout>
    </div>
</div>

    