<div class="side_bar">

    <div class="side_bar_top">
        <ul>
            <li routerLink="/admin/add_article"><i class="fas fa-plus fa-lg"></i> Add Article</li>
            <li routerLink="/admin/show_article"><i class="fas fa-box-open fa-lg"></i> show Article</li> <!-- Added icon -->
            <li routerLink="/provider/show_order"><i class="fas fa-clipboard-list fa-lg" ></i> All Orders</li> <!-- Added icon -->
        </ul>
        
    </div>
    
    <div class="side_bar_bottom">
        <ul>
            <li>add product</li>
            <li><i class="fas fa-sign-out-alt" ></i> Log Out</li>
        </ul>
    </div>
      
</div>
