.custom-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .mat-header-cell {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #343a40;
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .mat-cell {
    padding: 12px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .mat-row {
    transition: background-color 0.3s ease;
  }
  
  .mat-row:hover {
    background-color: #f1f1f1;
  }
  
  .mat-elevation-z8 {
    border-radius: 8px;
  }
  
  tr:nth-child(even) .mat-cell {
    background-color: #f8f9fa;
  }
  