<div class="side_bar">

    <div class="side_bar_top">
        <ul>
            <li routerLink="/provider/add_product"><i class="fas fa-plus fa-lg"></i> Add Product</li>
            <li routerLink="/provider/add_enterprise"><i class="fas fa-building fa-lg"></i> Add Enterprise</li> <!-- Added icon -->
            <li routerLink="/provider/show_enterprise"><i class="fas fa-box-open fa-lg"></i> show Enterprise</li> <!-- Added icon -->
            <li routerLink="/provider/show_order"><i class="fas fa-clipboard-list fa-lg" ></i> All Orders</li> <!-- Added icon -->
            <li routerLink="/provider/product_inf"><i class="fas fa-clipboard-list fa-lg" ></i> product inf</li> <!-- Added icon -->
        </ul>
        
    </div>
    
    <div class="side_bar_bottom">
        <ul>
            <li>add product</li>
            <li><i class="fas fa-sign-out-alt" ></i> Log Out</li>
        </ul>
    </div>
      
</div>
