<div class="side_bar">
    <div class="side_bar_top">
        <h2 class="sidebar_title">Menu</h2> <!-- Optional Title -->
        <ul>
            <li routerLink="/provider/add_product"><i class="fas fa-plus-circle"></i> Add Product</li>
            <li routerLink="/provider/add_enterprise"><i class="fas fa-building"></i> Add Enterprise</li>
            <li routerLink="/provider/show_enterprise"><i class="fas fa-industry"></i> Show Enterprise</li>
            <li routerLink="/provider/show_order"><i class="fas fa-receipt"></i> All Orders</li>
        </ul>
    </div>
    
    <div class="side_bar_bottom">
       <app-logout></app-logout>
    </div>
</div>
